
@import './variable.scss';
@import './mixin.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    overflow-X: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff !important;
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

h1 {
    font-size: 60px;
    color: $orange;
    
}

h2 {
    font-size: 36px;
    line-height: 1.5;
}

h3 {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1.5;
    
}

h4 {
    font-size: 20px;
    color: $grey;
    font-weight: 600;
}

h5 {
    font-size: 30px;
}

h6 {
    font-size: 16px;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #4e5457;
}