@import './variable.scss';
@import './mixin.scss';

.blog-details {
    .blog-img {
        max-width: 100%;
    }
    .blog-category {
        background-color: $orange-backgrd-dark;
        width: max-content;
        padding: 3px 10px;
        color: whitesmoke;
        text-transform: uppercase;
    }
}