@import './variable.scss';
@import './mixin.scss';

.bloglist {
    .item-img {
        max-width: 100%;
    }
    .item-category {
        background-color: $orange-backgrd-dark;
        width: max-content;
        margin-top: -13px;
        padding: 3px 10px;
        color: whitesmoke;
        text-transform: uppercase;
    }
}