@import './variable.scss';
@import './mixin.scss';

.footer {
    p {
        color: white;
    }

    .footer-info {
        background-color: $grey;
    }

    .company-name {
        color         : $orange;
        text-transform: uppercase;
    }

    .footer-list {
        span {
            color       : $orange;
            margin-right: 5px;
        }
    }

    .footer-link {
        cursor: pointer;
        width : fit-content;
        @include border-bottom;

        &:hover {
            color: $orange;
        }
    }

    .footer-trademark {
        background-color: rgb(34, 32, 32);

        p {
            margin: 0;
            color : $light-grey;
        }

        a {
            color: grey;

            &:hover {
                color: $orange;
            }
        }

        span {
            color: $orange;
        }
    }

}